{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Gestion stages' %}{% endblock %}

{% block branding %}
<h1 id="site-name">École Pierre-Coullery<br>Gestion des stages</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block messages %}
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|linebreaksbr|capfirst }}</li>
    {% endfor %}</ul>
    {% endif %}
{% endblock messages %}
