{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
  <style>
    ul#main { margin: 1em; }
    ul#main li { font-size: 14px; }
  </style>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

  <ul id="main">
    <li><b><a href="{% url 'corporations' %}">Liste des institutions</a></b></li>
    <li><b><a href="{% url 'classes' %}">Liste des classes</a></b></li>
  </ul>

{% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                {% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}
            </a>
        </caption>
        {% for model in app.models %}
            <tr>
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="custom-actions-module">
    <h2>Interfaces spécifiques</h2>
    <ul>
      <li><a href="{% url 'attribution' %}">Attributions des stages</a></li>
    </ul>
    </div>
    <div class="module" id="custom-actions-module">
    <h2>Importation/exportation</h2>
    <ul>
        <li><a href="{% url 'import-students' %}">Importer un fichier d'étudiants</a></li>
        <li><a href="{% url 'import-hp' %}">Importer le fichier HP</a></li>
        <li><a href="{% url 'import-hp-contacts' %}">Importer les formateurs (fichier HP)</a></li>
        <li><a href="{% url 'prepare-reports' 1 %}">Préparer les bulletins semestre 1</a></li>
        <li><a href="{% url 'prepare-reports' 2 %}">Préparer les bulletins semestre 2</a></li>
        <li style="margin-top: 1em;"><a href="{% url 'stages_export' %}">Exporter les données de stages</a> (récentes)</li>
        <li><a href="{% url 'stages_export' 'all' %}">Exporter les données de stages</a> (toutes)</li>
        <li><a href="{% url 'imputations_export' %}">Exporter les données comptables</a></li>
        <li><a href="{% url 'print_update_form' %}">Imprimer les formulaires de MAJ</a></li>
        <li><a href="{% url 'general-export' %}">Exportation générale des élèves</a></li>
        <li><a href="{% url 'ortra-export' %}">Exportation pour ORTRA</a></li>
    </ul>
    </div>
</div>
{% endblock %}

